@import "tailwindcss";
@tailwind utilities;

@import "antd/dist/reset.css";
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@layer base {
  :root {
    --background: #faf6f5;
    --foreground: #171717;
    --accent: #0070f3;
    --main-menu: #451c74;
    --main-menu-text: #ae75f4;
    --primary: #7f5af0;
    --header: #fff;
    --header-border: #eaeaea;
    --input-shadow: #78f1f5;
    --input-placeholder: #c1c1c1;
  }

  [data-theme="dark"] {
    --background: #171717;
    --foreground: #fafafa;
    --accent: #1e90ff;
  }

  .primary-button {
    @apply bg-[var(--primary)] !text-white px-4 py-2 rounded cursor-pointer;
  }
  .secondary-button {
    @apply !text-[var(--primary)] font-semibold px-4 py-2 rounded border !border-[var(--primary)] cursor-pointer;
  }
  .custom-input input::placeholder {
    @apply !text-[var(--input-placeholder)] font-normal px-1;
  }
  .custom-input.ant-input-affix-wrapper {
    @apply !border-[var(--header)];
  }
  .custom-input.ant-input-affix-wrapper:hover {
    @apply !border-[var(--primary)];
  }
  .custom-input.ant-input-affix-wrapper-focused {
    @apply !border-[var(--primary)] !shadow-[0_0_0_2px_var(--input-shadow)];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .ant-select.custom-select {
    @apply !h-10 !rounded-full text-[16px];
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--main-menu) !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: var(--main-menu);
  border-radius: 8px !important;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: transparent !important;
  color: var(--main-menu-text);
}

.ant-form-item-additional {
  height: 0px !important;
}
/* .ant-menu-item:hover {
  background-color: #e6f6ff !important;
} */

/* .ant-menu-item,
.ant-menu-submenu-title {
  padding-inline: 3px !important;
 
} */

/* .ant-menu-item.ant-menu-item-only-child {
  padding-left: 35px !important;
} */

/* .ant-menu-inline-collapsed .ant-menu-title-content {
  display: none;
} */

.ant-menu-item-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-menu-item.ant-menu-item-only-child {
  margin-block: 0 !important;
}

/* ::-webkit-scrollbar {
  width: 5px;
} */

/* ::-webkit-scrollbar-thumb {
  background: #ff884c;
  border-radius: 6px;
} */

.ant-modal {
  top: 50% !important;
  transform: translateY(-50%);
  margin: 0 auto;
}
